{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",

  "singleQuote": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "semi": false,
  "trailingComma": "none",

  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",

  "proseWrap": "preserve",
  "objectWrap": "preserve",

  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "embeddedLanguageFormatting": "auto",
  "insertPragma": false,
  "requirePragma": false,

  "overrides": [
    {
      "files": ["*.cmd", "*.bat"],
      "options": { "endOfLine": "crlf" }
    }
  ]
}
